<div class="text-center"
    style=" background-color: var(--rosadoQueDiosaAl80); height: 2.5rem; padding-top: 0.2rem; margin-bottom: 2.2rem;">
    <h1 style="font-size: 2rem;">{{textoSeccion}}</h1>
</div>
<div *ngIf="seccionOrigen == 'tipoprenda'" style="display: flex; justify-content: center; align-items: center;">
    <div style="position: relative; display: flex; align-items: center;">
        <input type="text" class="BasicInput" [(ngModel)]="parametroFiltrado" placeholder="Buscar por tipo"
            style="padding-right: 2.2rem;">
        <button *ngIf="parametroFiltrado" class="clear-button" aria-label="Clear" (click)="parametroFiltrado=''"
            style="top: 10px;">
            <span class="material-icons BasicBtnCruz">close</span>
        </button>
    </div>
    <div style="background-color: var(--rosadoQueDiosaAl80); " (click)="filtrar()" class=" botonCircularSimple">
        <span class="material-symbols-outlined">
            search
        </span>
    </div>

</div>
<mat-table [dataSource]="dataSource" matSort class="custom-mat-table-container">
    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.nombre}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="eliminar">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let element"><span class="material-symbols-outlined"
                (click)="openDialogCancelar(element)">
                delete
            </span></mat-cell>
    </ng-container>
    <ng-container matColumnDef="editar">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let element"><span class="material-symbols-outlined"
                (click)="abrirDialogEditar(element)">
                edit
            </span></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<button class=" btnAddCircular" matTooltip="Agregar nuevo" (click)="abrirDialogAgregar()">
    <span class="material-symbols-outlined ">
        add
    </span>
</button>