<div class="text-center">
    <h1>{{textoSeccion}}</h1>
</div>
<div *ngIf="seccionOrigen == 'tipoprenda'" style="display: flex; justify-content: center; align-items: center;">
    <input matInput type="text" [(ngModel)]="parametroFiltrado" placeholder="Buscar por tipo" style="max-width: 12rem;">
    <button mat-button (click)="filtrar()">Aceptar</button>
</div>
<mat-table [dataSource]="dataSource" matSort class="custom-mat-table-container">
    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.nombre}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="eliminar">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let element"><span class="material-symbols-outlined" (click)="eliminar(element)">
                delete
            </span></mat-cell>
    </ng-container>
    <ng-container matColumnDef="editar">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let element"><span class="material-symbols-outlined"
                (click)="abrirDialogEditar(element)">
                edit
            </span></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<button class=" sombra btnAddCircular" matTooltip="Agregar nuevo" (click)="abrirDialogAgregar()">
    <span class="material-symbols-outlined ">
        add
    </span>
</button>