.custom-mat-table-container {
    display: block;
    margin-top: 1rem;
    max-height: auto;
    /* Ajusta esto según las necesidades de tu diseño */
    overflow-y: auto;
    /* Esto habilitará el scroll vertical */
}

.contenedorMenu {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.InputLogin::focus-visible {
    border: none !important;
}

.centerBasico {
    display: flex;
    justify-content: center;
    align-items: center;
}



.btnLogin {
    width: 20rem;
    height: 2.5rem;
    border-radius: 50px;
    background-color: var(--rosadoQueDiosa);
    border: none;
    color: white;
    margin-top: 1.5rem;
}

.marginBotton {
    margin-bottom: 2rem;
}