<div class="cardProducto">
    <div>
        <img [src]="darSrcProducto()" alt="" class="tamImgCard">
        <p class="P">{{objetoProducto?.nombre}}</p>
        <div class="">
            <div class="contenedorPrecios">
                <!-- Agregar condicion cuando tiene precio oferta el precio anterior tiene que aprecer en gris -->
                <p style="font-size: 16px;  text-decoration-line: line-through; color: grey;"
                    *ngIf="objetoProducto?.precioAnterior! > 0">
                    ${{objetoProducto?.precioAnterior}}</p>
                <!-- ACA VA EL PRECIO ANTERIOR -->
                <p>${{objetoProducto?.precioActual}}</p><!-- Aca el precio actual -->
            </div>
        </div>
    </div>
    <div class="divContenedorBTN">
        <button mat-button class="BtnCardProducto" (click)="openUnProducto()">Ver</button>
    </div>
</div>