@media screen and (max-width: 768px) {

    .cardProducto {
        width: 80%;
        height: 25rem;
        background-color: red;

    }
}

.BtnCardProducto {

    height: 2rem;
    padding: 10px;
    /*  border: 2px solid rgb(34, 167, 34); */
    border-radius: 18px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--rosadoQueDiosaAl80);
    font-size: 1rem;
    border: none;

}

.BtnCardProducto:active {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    /* Sombra más pequeña para efecto de estar presionado */
    transform: translateY(4px);
    border: none;

    /* Mueve aún más hacia abajo para simular que se está presionando */
}