<div class="cardProducto">
    <div>
        <div class="contenedorImagen" style="position: relative;">
            <img [src]="darSrcProducto()" alt="" class="tamImgCard">
            <div class="divSuperpuesto" *ngIf="objetoProducto?.nuevo == true">
                <div>
                    <p>NUEVO</p>
                </div>
            </div>
            <div class="divSuperpuesto" *ngIf="cantidad <= 0">
                <div>
                    <p>SIN STOCK</p>
                </div>
            </div>
        </div>
        <p class="P">{{objetoProducto?.nombre}}</p>
        <div class="">
            <div class="contenedorPrecios">
                <p style="font-size: 16px;  text-decoration-line: line-through; color: grey;"
                    *ngIf="objetoProducto?.precioAnterior! > 0">
                    ${{objetoProducto?.precioActual}}</p>
                <p *ngIf="objetoProducto?.precioAnterior! > 0">${{objetoProducto?.precioAnterior}}</p>
                <p *ngIf="objetoProducto?.precioAnterior! <= 0">${{objetoProducto?.precioActual}}</p>
            </div>
        </div>
    </div>
    <div class="divContenedorBTN">
        <button mat-button class="BtnCardProducto" (click)="openUnProducto()">Ver</button>
    </div>
</div>