<div class="col-md-12 p-0  ">
    <div>
        <div style="background-color: var(--rosadoQueDiosaAl80); height: 2.5rem; "
            class="d-flex align-items-center sombra">
            <span class="">BANDEJAS</span>
        </div>
        <div class="p-2" routerLink="/lEmpresa/productos"
            style="display: flex; align-self: center;  justify-content: space-between;">
            <div>
                <span class=" material-symbols-outlined" style="color: black; margin-right: 1rem; font-size: 2rem;">
                    inbox
                </span>
                <span>Alertas ventas</span>
            </div>
            <span class="material-symbols-outlined" style="color:rgb(255, 0, 0); font-size: 2rem;">
                notifications_active
            </span>
        </div>
        <div class="p-2" routerLink="/lEmpresa/productos"
            style="display: flex; align-self: center;  justify-content: space-between;">
            <div>
                <span class=" material-symbols-outlined" style="color: black; margin-right: 1rem; font-size: 2rem;">
                    inbox
                </span>
                <span>Alertas stock</span>
            </div>
            <span class="material-symbols-outlined" style="color:rgb(255, 0, 0); font-size: 2rem;">
                notifications_active
            </span>
        </div>
    </div>
    <div>
        <div style="background-color: var(--rosadoQueDiosaAl80); height: 2.5rem; "
            class="d-flex align-items-center sombra">
            <span class="">MANTENIMIENTO</span>

        </div>
        <div class="p-2 d-flex align-items-center" routerLink="/lEmpresa/productos">
            <span class=" material-symbols-outlined" style="color: black; margin-right: 1rem; font-size: 2rem;">
                list_alt
            </span>
            <span>Productos</span>
        </div>
        <div class="p-2 d-flex align-items-center" routerLink="/lEmpresa/tipoProductos">
            <span class=" material-symbols-outlined" style="color: black; margin-right: 1rem; font-size: 2rem;">
                list_alt
            </span>
            <span>Tipos de productos</span>
        </div>
        <div class="p-2 d-flex align-items-center" routerLink="/lEmpresa/talles">
            <span class=" material-symbols-outlined" style="color: black; margin-right: 1rem; font-size: 2rem;">
                list_alt
            </span>
            <span>Talles</span>
        </div>
        <div class="p-2 d-flex align-items-center" routerLink="/lEmpresa/colores">
            <span class=" material-symbols-outlined" style="color: black; margin-right: 1rem; font-size: 2rem;">
                list_alt
            </span>
            <span>Colores</span>
        </div>
        <div class="p-2 d-flex align-items-center" routerLink="/lEmpresa/productos">
            <span class=" material-symbols-outlined" style="color: black; margin-right: 1rem; font-size: 2rem;">
                inventory_2
            </span>
            <span>Stock</span>
        </div>

    </div>

    <div>
        <div style="background-color: var(--rosadoQueDiosaAl80); height: 2.5rem; "
            class="d-flex align-items-center sombra">
            <span class="">COLABORADORES</span>
        </div>
        <div class="p-2 d-flex align-items-center" routerLink="/lEmpresa/productos">
            <span class=" material-symbols-outlined" style="color: black; margin-right: 1rem; font-size: 2rem;">
                groups
            </span>
            <span>Colaboradores</span>
        </div>
    </div>
</div>