<div class="col-md-12 p-0  ">
    <div>
        <div style="background-color: var(--rosadoQueDiosaAl80); height: 2.5rem; "
            class="d-flex align-items-center sombra">
            <span class="">BANDEJAS</span>
        </div>

    </div>
    <div>
        <div style="background-color: var(--rosadoQueDiosaAl80); height: 2.5rem; "
            class="d-flex align-items-center sombra">
            <span class="">MANTENIMIENTO</span>

        </div>
        <div class="p-2 d-flex align-items-center" routerLink="/lEmpresa/productos">
            <span class=" material-symbols-outlined" style="color: black; margin-right: 1rem; font-size: 2rem;">
                account_circle
            </span>
            <span>Productos</span>
        </div>
    </div>

    <div style="background-color: var(--rosadoQueDiosaAl80); height: 2.5rem; " class="d-flex align-items-center sombra">
        <span class="">COLABORADORES</span>
    </div>
</div>