<div class="col-md-12 p-0  ">
    <div>
        <div style="background-color: var(--rosadoQueDiosaAl80); height: 2.5rem; "
            class="d-flex align-items-center sombra">
            <span class="">BANDEJAS</span>
        </div>
        <!-- routerLink="/lEmpresa/bandejaVentas" -->
        <div class="p-2" routerLink="/lEmpresa/bandejaVentas"
            style="display: flex; align-self: center;  justify-content: space-between; cursor: pointer;">
            <div>
                <span class=" material-symbols-outlined" style="color: black; margin-right: 1rem; font-size: 2rem; ">
                    inbox
                </span>
                <span>Pedidos</span>
            </div>
            <div *ngIf="cantAlertaPedidos > 0">
                <span style="color:rgb(255, 0, 0);">{{cantAlertaPedidos}}</span>
                <span class="material-symbols-outlined" style="color:rgb(255, 0, 0); font-size: 2rem;">
                    notifications_active
                </span>
            </div>
        </div>
        <div class="p-2" routerLink="/lEmpresa/bandejaStocks"
            style="display: flex; align-self: center;  justify-content: space-between; cursor: pointer;">
            <div>
                <span class=" material-symbols-outlined" style="color: black; margin-right: 1rem; font-size: 2rem;">
                    inbox
                </span>
                <span>Alertas stock</span>
            </div>
            <div *ngIf="cantAlertaStock > 0">
                <span style="color:rgb(255, 0, 0);">{{cantAlertaStock}}</span>
                <span class="material-symbols-outlined" style="color:rgb(255, 0, 0); font-size: 2rem;">
                    notifications_active
                </span>
            </div>
        </div>
    </div>
    <div>
        <div style="background-color: var(--rosadoQueDiosaAl80); height: 2.5rem; "
            class="d-flex align-items-center sombra">
            <span class="">MANTENIMIENTO</span>

        </div>
        <div class="p-2 d-flex align-items-center" routerLink="/lEmpresa/productos" style="cursor: pointer;">
            <span class=" material-symbols-outlined" style="color: black; margin-right: 1rem; font-size: 2rem;">
                list_alt
            </span>
            <span>Productos</span>
        </div>
        <div class="p-2 d-flex align-items-center" routerLink="/lEmpresa/tipoProductos" style="cursor: pointer;">
            <span class=" material-symbols-outlined" style="color: black; margin-right: 1rem; font-size: 2rem;">
                list_alt
            </span>
            <span>Tipos de productos</span>
        </div>
        <div class="p-2 d-flex align-items-center" routerLink="/lEmpresa/talles" style="cursor: pointer;">
            <span class=" material-symbols-outlined" style="color: black; margin-right: 1rem; font-size: 2rem;">
                list_alt
            </span>
            <span>Talles</span>
        </div>
        <div class="p-2 d-flex align-items-center" routerLink="/lEmpresa/colores" style="cursor: pointer;">
            <span class=" material-symbols-outlined" style="color: black; margin-right: 1rem; font-size: 2rem;">
                list_alt
            </span>
            <span>Colores</span>
        </div>
        <div class="p-2 d-flex align-items-center" routerLink="/lEmpresa/stocks" style="cursor: pointer;">
            <span class=" material-symbols-outlined" style="color: black; margin-right: 1rem; font-size: 2rem;">
                inventory_2
            </span>
            <span>Stock</span>
        </div>

    </div>

    <div *ngIf="tipoUsuario == '1'">
        <div style="background-color: var(--rosadoQueDiosaAl80); height: 2.5rem; "
            class="d-flex align-items-center sombra">
            <span class="">COLABORADORES</span>
        </div>
        <div class="p-2 d-flex align-items-center" routerLink="/lEmpresa/colaboradores" style="cursor: pointer;">
            <span class=" material-symbols-outlined" style="color: black; margin-right: 1rem; font-size: 2rem;">
                groups
            </span>
            <span>Colaboradores</span>
        </div>
    </div>
    <div style="display: flex; justify-content: center; align-items: center; margin-top: 1.5rem;">
        <button class=" btnFinalizarCompra" (click)="navegarAStore()">Ir a store</button>
    </div>
</div>