<!-- <div class="fullscreen-dialog-content" mat-dialog-content>

    My favorite animal is:
    <ul>
        <li>
            <span>&#10003;</span> Panda
        </li>
        <li>
            <span>&#10003;</span> Unicorn
        </li>
        <li>
            <span>&#10003;</span> Lion
        </li>
    </ul>

</div> -->
<div class="red-list blancLi centered-list">
    <ul>
        <li class="">
            <span>Categorias</span>
            <ul>
                <li>Todas las categorias</li>
                <li>Vestidos</li>
                <li>Shorts</li>
                <li>Tops</li>
                <li>Pantalones</li>
                <li>Remeras</li>
                <li>Minis</li>
            </ul>
        </li>
        <li>
            <span>Informacion</span>
            <ul>
                <li>Medios de pago</li>
                <li>Envio</li>
            </ul>
        </li>
    </ul>
</div>