<div mat-dialog
    style=" height: 100%; padding: 10px; border-radius: 15px; display: flex; flex-direction: column; justify-content: space-between;">
    <div mat-dialog-content>
        <div class="spanAlerta color"
            style="background-color:  var(--negroQueDiosa); color: var(--rosadoQueDiosaAl80);;">
            <strong style="padding-left:0.5rem;">
                Cambiar contraseña</strong>
        </div>
        <div class=" text-center" style="margin-top: 1rem;">
            <div class=" text-center" style="margin-top: 1rem;">
                <!-- Contraseña Actual -->
                <div style="position: relative; display: flex; align-items: center;">
                    <input [type]="mostrarActual ? 'text' : 'password'" class="BasicInput" [(ngModel)]="passActual"
                        placeholder="Contraseña actual" style="padding-right: 2.2rem;">
                    <button class="clear-button noBorder" aria-label="Clear" (click)="mostrarActual = !mostrarActual"
                        style="top: 7px;">
                        <span class="material-icons noBorder" style="font-size: 28px;">visibility</span>
                    </button>
                </div>



                <!-- Nueva Contraseña 1 -->


                <div style="position: relative; display: flex; align-items: center; margin-top: 0.5rem;">
                    <input [type]="mostrarNueva1 ? 'text' : 'password'" class="BasicInput" [(ngModel)]="passNueva1"
                        placeholder="Nueva contraseña" style="padding-right: 2.2rem;">
                    <button class="clear-button noBorder" aria-label="Clear" (click)="mostrarNueva1 = !mostrarNueva1"
                        style="top: 7px;">
                        <span class="material-icons noBorder" style="font-size: 28px;">visibility</span>
                    </button>
                </div>


                <!-- Nueva Contraseña 2 -->

                <div style="position: relative; display: flex; align-items: center; margin-top: 0.5rem;">
                    <input [type]="mostrarNueva2 ? 'text' : 'password'" class="BasicInput" [(ngModel)]="passNueva2"
                        placeholder="Nueva contraseña" style="padding-right: 2.2rem;">
                    <button class="clear-button noBorder" aria-label="Clear" (click)="mostrarNueva2 = !mostrarNueva2"
                        style="top: 7px;">
                        <span class="material-icons noBorder" style="font-size: 28px;">visibility</span>
                    </button>
                </div>
            </div>
            <span *ngIf="errorValidacionPassass != '' " style="color: var(--colorAlerta);">
                {{errorValidacionPassass}}</span>
        </div>
    </div>
    <mat-dialog-actions style="display: flex; justify-content: center;  gap: 4rem; height: 2rem;">
        <button mat-button class="AcctionCancelar" [mat-dialog-close]="" style="width: auto;">Cerrar</button>
        <button mat-button class="AcctionAceptar" style="width: auto;" (click)="aceptar()">Aceptar</button>
    </mat-dialog-actions>
</div>