.spanAlerta {
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.noBorder :active {
    border: none !important;
}

.noBorder :hover {
    border: none !important;
}

.noBorder :focus {
    border: none !important;
}

.noBorder :focus-visible {
    border: none !important;
}