<div class="SectionTodosLosProductos">
    <div>
        <mat-accordion style="width: 360px; margin-top: 2rem;">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Filtrar
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                        Eliminar filtros 
                    </mat-panel-description> -->
                </mat-expansion-panel-header>
                <div style="display: flex; flex-direction: column; align-items: flex-start; ">
                    <!--  <p style="font-size: 1.2rem;">Modalidad de busquedas</p> -->
                    <mat-radio-group class="radio-buttons-column">
                        <div style="
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;">
                            <label class="radio-button-label">
                                <input type="radio" [(ngModel)]="opcionBusqueda" name="opcionBusqueda" value="nombre">
                                Nombre producto
                            </label>
                            <div *ngIf="opcionBusqueda == 'nombre'"
                                style="position: relative; display: flex; align-items: center;  margin-bottom: 1rem;">
                                <input type="text" class="BasicInput" [(ngModel)]="txtBuscar"
                                    placeholder="Buscar producto" style="padding-right: 2.2rem;">
                                <button *ngIf="txtBuscar" class="clear-button" aria-label="Clear"
                                    (click)="vaciarTxtYBorrarBusqueda()" style="top: 10px;">
                                    <span class="material-icons BasicBtnCruz">close</span>
                                </button>
                            </div>
                        </div>
                        <div style="
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;">
                            <label class="radio-button-label">
                                <input type="radio" [(ngModel)]="opcionBusqueda" name="opcionBusqueda" value="tipo">
                                Tipo de producto
                            </label>
                            <mat-select *ngIf="opcionBusqueda == 'tipo'" class="marginBot BasicSelect " required
                                style="margin-bottom: 1rem;" placeholder="Seleccione un tipo" [(ngModel)]="tipoPrenda">
                                <mat-option style="font-size: 0.8rem;" *ngFor="let tipo of cargaTiposDePrenda"
                                    [value]=tipo.nombre>{{tipo.nombre}}</mat-option>
                            </mat-select>
                        </div>
                        <label class="radio-button-label">
                            <input type="radio" [(ngModel)]="opcionBusqueda" name="opcionBusqueda" value="nuevo">
                            Nuevos
                        </label>
                        <label class="radio-button-label">
                            <input type="radio" [(ngModel)]="opcionBusqueda" name="opcionBusqueda" value="oferta">
                            Ofertas
                        </label>
                    </mat-radio-group>
                    <div style="
                    margin: 0.5rem;
                    width: 25rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-right: 6rem;">

                        <button class="BtnEliminarFiltros" (click)="eliminarFiltros()"><span
                                class="material-symbols-outlined">
                                delete
                            </span></button>
                        <button class="BtnFiltrar" (click)="filtrar()">Filtrar<span class="material-symbols-outlined">
                                search
                            </span></button>
                    </div>
                </div>
            </mat-expansion-panel>

        </mat-accordion>

    </div>
    <div #new *ngFor="let producto of productosFiltrados">
        <div><!-- AGREGAR CONDICION PARA QUE SOLO AGARRE LO NUEVO -->
            <app-card-producto [objetoProducto]="producto" style="margin-top: 1.5rem;"></app-card-producto>
        </div>
    </div>
</div>