.SectionNEW {
    background-color: var(--negroQueDiosa);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1.8rem;
}

.SectionNEW div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-buttons-column {
    display: flex;
    /* Habilita Flexbox */
    flex-direction: column;
    /* Organiza los hijos en una columna */
    align-items: flex-start;
    /* Alinea los hijos al inicio del contenedor */
}

.radio-button-label {
    margin-bottom: 10px;
    /* Espacio entre cada botón de radio */
}