<div mat-dialog>
    <div mat-dialog-content>

        <section> <!-- Seccion imagenes -->
            <div style="position: relative; max-height: 17rem;" *ngIf="silderImages.length != 0">
                <div style="justify-content: center; align-items: center;">

                    <img src="{{silderImages[iteradorImg]}}" alt=""
                        style="max-height: 17rem; min-height: 17rem; width: 100%;">
                </div>
                <!-- DIV botones con posición absoluta -->
                <div *ngIf="silderImages.length > 1"
                    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; justify-content: space-between; align-items: center; background-color: transparent;">
                    <span class="material-symbols-outlined estiloFlechas" (click)="iterarIzquierda()"
                        style="margin-left: 8px;">
                        arrow_back_ios
                    </span>
                    <span class="material-symbols-outlined estiloFlechas" (click)="iterarDerecha()">
                        arrow_forward_ios
                    </span>
                </div>
            </div>
            <div>
                <!-- Mensaje cuando no hay imágenes -->
                <div *ngIf="silderImages.length === 0">
                    <p>Subir imágenes</p>
                </div>
                <div *ngIf="fileError != ''">
                    <p style="color: var(--colorAlerta);">{{fileError}}</p>
                </div>
                <input type="file" (change)="onFileChange($event)" accept=".jpg, .jpeg, .png, .img" multiple
                    style="max-width: 100%; margin-top: 0.2rem;">
            </div>
        </section>

        <section style="padding-top: 1rem;"><!-- Datos Requeridos del producto -->
            <input type="text" [(ngModel)]="txtNombre" [ngClass]="{'requerido': txtNombre == ''}"
                class="marginBot BasicInput" placeholder="Nombre producto" style="padding-right: 2.2rem;">
            <input type="number" [(ngModel)]="precio" [ngClass]="{'requerido': precio == null}"
                class="marginBot BasicInput" placeholder="Precio" style="padding-right: 2.2rem;">

            <mat-select class="marginBot BasicSelect " required placeholder="Seleccione un tipo" [(ngModel)]="idTipo"
                [ngClass]="{'requerido': idTipo == -1}">
                <mat-option style="font-size: 0.8rem;" *ngFor="let tipo of cargaTiposDePrenda"
                    [value]=tipo.id>{{tipo.nombre}}</mat-option>
            </mat-select>

            <mat-select class="marginBot BasicSelect" multiple placeholder="Seleccione talles"
                [(ngModel)]="seleccionTalles" (valueChange)="cargarStock = false"
                [ngClass]="{'requerido': seleccionTalles.length <= 0}">
                <mat-option style="font-size: 0.8rem;" *ngFor="let talle of cargaTalles"
                    [value]=talle>{{talle.nombre}}</mat-option>
            </mat-select>

            <mat-select class="marginBot BasicSelect" multiple placeholder="Seleccione colores"
                [(ngModel)]="seleccionColores" (valueChange)="cargarStock = false"
                [ngClass]="{'requerido': seleccionColores.length <= 0}">
                <mat-option style="font-size: 0.8rem;" *ngFor="let color of cargaColores"
                    [value]=color>{{color.nombre}}</mat-option>
            </mat-select>
            <div style="padding-top: 0.5rem;">
                <mat-radio-group class="radio-buttons-column">
                    <label class="radio-button-label">
                        <input type="radio" [(ngModel)]="opcion" name="opcion" value="ninguna"> Ninguna
                    </label>
                    <label class="radio-button-label">
                        <input type="radio" [(ngModel)]="opcion" name="opcion" value="nuevo"> Nuevo
                    </label>
                    <div style="display: flex; align-items: center; justify-content: center; gap: 2rem;">

                        <label class="radio-button-label">
                            <input type="radio" [(ngModel)]="opcion" name="opcion" value="oferta"> En oferta
                        </label>
                        <div>
                            <!-- precioOferta -->
                            <input type="number" class="BasicInput" placeholder="Precio oferta"
                                style="width: 7.1rem; margin-bottom: 0.5rem;" [disabled]="opcion != 'oferta'"
                                [(ngModel)]="precioOferta"
                                [ngClass]="{'requerido': precioOferta == 0 && opcion == 'oferta'}">
                        </div>
                    </div>
                    <div>
                        <input type="checkbox" id="checkvisibleWeb" style="margin-right: 0.3rem;"
                            [(ngModel)]="visibleEnWeb">
                        <label for="checkvisibleWeb" style=" margin: 0; padding: 0;">Visible en la web</label>
                    </div>
                </mat-radio-group>
            </div>
        </section>
        <section style="padding-top: 1rem;"> <!-- NO obligatorios -->
            <textarea name="" id="" cols="30" rows="10" class="BasicTextArea"
                placeholder="Descripcion del producto"></textarea>
            <textarea name="" id="" cols="30" rows="10" class="BasicTextArea" placeholder="Guia de talles"></textarea>

        </section>
        <section *ngIf="validarVisualizacionCargarStock()"> <!-- CARGAR STOCK -->

            <div style="display: flex; align-items: center;">
                <mat-slide-toggle [(ngModel)]="cargarStock"
                    (click)="inicializarStockConLoSeleccionado()"></mat-slide-toggle>
                <span>¿Cargar stock?</span>
            </div>
            <div *ngIf="validarCargaStock()">
                <div *ngFor="let talle of productoEnviar.stocks.talles">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <h2>Talle {{talle.nombreTalle}}</h2>
                    </div>

                    <div *ngFor="let color of talle.colores">
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <label for="">Cantidad {{color.nombreColor}}</label>
                            <input type="number" class="BasicInput" style="width: 3rem; margin-bottom: 0.5rem;"
                                [(ngModel)]="color.cantidad"
                                [ngClass]="{'requerido': precioOferta == 0 && opcion == 'oferta'}">
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <div class="text-center" style="font-size: 1rem; padding: 1rem; ">
        <span style="color: var(--colorAlerta);">{{errorValidacion}}</span>
    </div>
    <mat-dialog-actions style="display: flex; justify-content: center;  gap: 4rem;">
        <button mat-button class="AcctionCancelar" style="width: auto;">Cancelar</button>
        <button mat-button class="AcctionAceptar" (click)="realizarAccion()" style="width: auto;">Aceptar</button>
    </mat-dialog-actions>
</div>