<div class="rosa" style="width: 100vw; display: block; justify-content: center;">
    <!--  style="width: 100vw;" -->
    <div style="display: flex; justify-content: end; margin-top: 0.6rem;">
        <span class="material-symbols-outlined" style="color: white; font-size: 2rem;" (click)="cerrar()">
            close
        </span>
    </div>
    <ul style="
          max-height: 100vh; 
          overflow-y: auto;
           max-width: 100%; 
           margin-top: 0.8rem;
           padding-bottom: 4rem;" class="scrollable-list">
        <li>
            <span>Categorias</span>
            <ul *ngFor="let categoria of cargaTiposDePrenda">
                <li><a (click)="redirigirATodosLosProductos(categoria.nombre,'tipo')">{{categoria.nombre}}</a>
                </li>
            </ul>
        </li>
        <li>
            <span>Metodos</span>
            <ul>
                <li><a href="">Metodos</a></li>
                <li><a href="">Envio</a></li>
            </ul>
        </li>
        <li>
            <span>Envios</span>
            <ul>
                <li><a href="">Envios</a></li>
            </ul>
        </li>
        <li>
            <span>Contactos</span>
            <ul>
                <li><a href="">Instagram</a></li>
                <li><a href="">Whatsaap</a></li>
            </ul>
        </li>
    </ul>





</div>