<div class="rosa" style="width: 70vw; display: block; justify-content: center;">
    <!--  style="width: 100vw;" -->
    <div style="display: flex; justify-content: end; margin-top: 0.6rem;">
        <span class="material-symbols-outlined" style="color: white; font-size: 2rem;" (click)="cerrar()">
            close
        </span>
    </div>
    <ul style="
          max-height: 100vh; 
          overflow-y: auto;
           max-width: 100%; 
           margin-top: 0.8rem;
           padding-bottom: 4rem;" class="scrollable-list">
        <li class="">
            <span>Categorias</span>
            <ul>
                <li><a href="">Todas las categorias</a></li>
                <li><a href="">Vestidos</a></li>
                <li><a href="">Shorts</a></li>
                <li><a href="">Tops</a></li>
                <li><a href="">Pantalones</a></li>
                <li><a href="">Remeras</a></li>
                <li><a href="">Minis</a></li>
            </ul>
        </li>
        <li>
            <span>Informacion</span>
            <ul>
                <li><a href="">Medios de pago</a></li>
                <li><a href="">Envio</a></li>
            </ul>
        </li>
        <li class="">
            <span>Categorias</span>
            <ul>
                <li><a href="">Todas las categorias</a></li>
                <li><a href="">Vestidos</a></li>
                <li><a href="">Shorts</a></li>
                <li><a href="">Tops</a></li>
                <li><a href="">Pantalones</a></li>
                <li><a href="">Remeras</a></li>
                <li><a href="">Minis</a></li>
            </ul>
        </li>
        <li>
            <span>Informacion</span>
            <ul>
                <li><a href="">Medios de pago</a></li>
                <li><a href="">Envio</a></li>
            </ul>
        </li>
        <li class="">
            <span>Categorias</span>
            <ul>
                <li><a href="">Todas las categorias</a></li>
                <li><a href="">Vestidos</a></li>
                <li><a href="">Shorts</a></li>
                <li><a href="">Tops</a></li>
                <li><a href="">Pantalones</a></li>
                <li><a href="">Remeras</a></li>
                <li><a href="">Minis</a></li>
            </ul>
        </li>
        <li>
            <span>Informacion</span>
            <ul>
                <li><a href="">Medios de pago</a></li>
                <li><a href="">Envio</a></li>
            </ul>
        </li>
    </ul>





</div>