<div mat-dialog class="contenedorDialogCarrito">
    <div mat-dialog-content>
        <div *ngFor="let producto of productosDelCarrito">
            <div>
                <div style="background-color: rgb(255, 255, 255); width: 6rem; height: 7rem; border-radius: 5px;">
                    <img style="width: 6rem; height: 7rem; object-fit: cover;" [src]="cargaSrc(producto)" alt="">
                </div>
                <div>
                    <input type="text" readonly [value]='producto.nombreProducto'>
                </div>
                <div></div>

            </div>

        </div>
        <div *ngIf="productosDelCarrito.length == 0">Nada para mostrar.</div>
    </div>
    <mat-dialog-actions style="display: flex; justify-content: center;gap: 2rem;">
        <button mat-button class="" [mat-dialog-close]="" style="width: auto;">Atras</button>
        <button mat-button class="btnFinalizarCompra" style="width: auto;">Agregar al carrito</button>
    </mat-dialog-actions>
</div>