<!-- <div style="background: var(--negroQueDiosa); width: 100%; height: 100%;">
    <div class="contenedorMenu">
        <span class="contenedorMenu">
            <img src=" ../../../assets/imgs/logoSinTexto.png" alt="logo" width="250" height="250">
        </span>
        <form class="example-form" [formGroup]="formgrouplogin" (ngSubmit)="onSubmit()">

            <div class="centerBasico">
                <span class=" material-symbols-outlined centerBasico"
                    style="color: var(--rosadoQueDiosa); margin-right: 1rem; font-size: 2.5rem;">
                    account_circle
                </span>
                <mat-form-field>
                    <input type="text" formControlName="usuario" class="InputLogin" placeholder="Ingrese contraseña">
                </mat-form-field>
            </div>
            <div class="centerBasico">
                <span class=" material-symbols-outlined centerBasico"
                    style="color: var(--rosadoQueDiosa); margin-right: 1rem; font-size: 2.5rem;">
                    account_circle
                </span>
                <mat-form-field>
                    <input type="text" formControlName="password" class="InputLogin" placeholder="Ingrese contraseña">
                </mat-form-field>
            </div>
        </form>
    </div>
</div> -->


<div style="background: var(--negroQueDiosa); width: 100%; height: 100%;">
    <div class="contenedorMenu" style="padding-top: 10rem;">
        <span class="contenedorMenu">
            <img src="../../../assets/imgs/logoSinTexto.png" alt="logo" width="250" height="250">
        </span>
        <form class="example-form" [formGroup]="formGroupLogin" (ngSubmit)="onSubmit()" style="margin-top: 4rem;">
            <div class="centerBasico marginBotton">
                <span class="material-symbols-outlined centerBasico"
                    style="color: var(--rosadoQueDiosa); margin-right: 1rem; font-size: 2.5rem;">
                    account_circle
                </span>
                <div>
                    <input matInput type="text" formControlName="usuario" placeholder="Usuario"
                        class="inputBasicoLogin">
                </div>
            </div>
            <div class="centerBasico marginBotton">
                <span class="material-symbols-outlined centerBasico"
                    style="color: var(--rosadoQueDiosa); margin-right: 1rem; font-size: 2.5rem;">
                    key
                </span>
                <div>
                    <input matInput type="password" formControlName="password" placeholder="Contraseña"
                        class="inputBasicoLogin">
                </div>
            </div>
            <div>
                <button class="btnLogin sombra" style="">INGRESAR</button>
            </div>
        </form>
    </div>
</div>