.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--negroQueDiosaTransparente);
    /* Color de fondo azul */
    z-index: 9999;
    /* Asegura que esté en la parte superior */
    opacity: 0;
    /* Configura la opacidad inicial en 0 */
    transition: opacity 0.3s ease;
    /* Define una transición de opacidad suave */
    pointer-events: none;
    /* Evita que el contenido sea interactivo mientras está oculto */

}

.dialog-overlay.show {
    opacity: 1;
    /* Cuando la clase 'show' se agrega, la opacidad se establece en 1 */
    pointer-events: auto;
    /* Permite interacción con el contenido cuando se muestra */
}