<ng-container style="width: 500px;">
    <section #Banner class="Section1">
        <div>
            <img class="BasicImg" src="../../../../../assets/imgs/CamperaCueroBanner.png" alt="">
            <img class="BasicImg" src="../../../../../assets/imgs/VestidoRosaBanner.png" alt="">
        </div>
        <div><span>ENVIOS A TODO EL PAIS</span></div>
    </section>
    <section #Sale&New></section>
    <section #Categorias></section>
    <section #new></section>
    <section #Info></section>
    <footer #DatosFooter></footer>
</ng-container>