<ng-container class="ContainerHome">
    <section #Banner class="Section1">
        <div class="divBanner">
            <div>
                <img class="BasicImg" src="../../../../../assets/imgs/CamperaCueroBanner.png" alt="">
            </div>
            <div>
                <img class="BasicImg" src="../../../../../assets/imgs/VestidoRosaBanner.png" alt="">
            </div>
        </div>
        <div class="div-encima">
            <span>ENVIOS A TODO EL PAIS</span>
        </div>
    </section>
    <section #Sale&New class="saleAndNew">
        <div class="saleAndNewDivs sombra">
            <p>OFERTAS</p>
        </div>
        <div class="saleAndNewDivs sombra">
            <p>LO NUEVO</p>
        </div>
    </section>
    <section #Categorias>
        <div class="grid-container">
            <div class="grid-item vestidos">VESTIDOS</div>
            <div class="grid-item tops">TOPS</div>
            <div class="grid-item pantalones">PANTALONES</div>
            <div class="grid-item shorts">SHORTS</div>
        </div>



    </section>
    <section #new>
        <div class="SectionNEW">
            <div>
                <app-card-producto></app-card-producto>
                <app-card-producto></app-card-producto>
            </div>
            <div>
                <app-card-producto></app-card-producto>
                <app-card-producto></app-card-producto>
            </div>
            <div>
                <app-card-producto></app-card-producto>
                <app-card-producto></app-card-producto>
            </div>
            <div>
                <app-card-producto></app-card-producto>
                <app-card-producto></app-card-producto>
            </div>
        </div>




    </section>
    <section #Info></section>
    <footer #DatosFooter></footer>
</ng-container>