.BasicImg {
    max-width: 100%;
}

.Section1 {
    position: relative;
    /* Esto asegura que los hijos absolutamente posicionados se coloquen en relación a este elemento */
}


.ContainerHome {
    @media (max-width: 768px) {
        width: 500px;
    }
}

.divBanner {
    @media (min-width: 992px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.div-encima {
    display: flex;
    /* Establece el contenedor como un flexbox */
    justify-content: center;
    /* Centra horizontalmente el contenido */
    align-items: center;
    /* Centra verticalmente el contenido */
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    /* Ajusta la posición vertical */
    z-index: 10;
    /* Asegúrate de que este valor sea mayor que cualquier otro z-index en elementos hermanos */
    /* Altura fija para el contenedor del span */
    /* Color de fondo */
    height: 5rem;
    background-color: var(--rosadoQueDiosaAl80);
}

.div-encima span {
    width: 100%;
    font-size: 1.6rem;
    color: white;
    padding: 0.5em;
    box-sizing: border-box;
    text-align: center;

}

.saleAndNew {
    padding: 1rem;
    height: 12rem;

    @media (max-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
    }

    @media (min-width: 992px) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

}

.saleAndNewDivs {
    padding-top: 1rem;
    background-color: var(--negroQueDiosa);
    color: var(--rosadoQueDiosaAl80);
    height: 5rem;
    font-size: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-shadow: rgb(0, 0, 0) 1px 0 5px;

    @media (max-width: 768px) {
        min-width: 100%;

    }

    @media (min-width: 992px) {
        width: 100%;
    }
}




/* REGION OFERTA*/
.SectionOFERTA {
    background-color: var(--negroQueDiosa);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.SectionOFERTA div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* REGION OFERTA*/

/* REGION NEW*/
.SectionNEW {
    background-color: var(--negroQueDiosa);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1.8rem;
}

.SectionNEW div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* REGION NEW*/

.texto-sobre-imagen {
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo negro con transparencia */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.6rem;
    margin: 0;
}



/* INFO */
.sectionInfo {
    padding: 0.8rem;
}

.divInfo {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

.spanInfo {
    margin-right: 1rem;
    font-size: 5rem;
}

/* INFO */

/* FOOTER */
.datosFooter {
    background-color: var(--negroQueDiosa);
    color: white;
    padding: 1.5rem;
    font-size: 1rem;
}

.datosFooter li {
    text-decoration: none;
    list-style: none;
    margin-bottom: 0.8rem;
}



/* FOOTER */