.Section1 {
    position: relative;
    /* Esto asegura que los hijos absolutamente posicionados se coloquen en relación a este elemento */
}

.ContainerHome {
    @media (max-width: 768px) {
        width: 500px;
    }
}

.divBanner {
    @media (min-width: 992px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.div-encima {
    display: flex;
    /* Establece el contenedor como un flexbox */
    justify-content: center;
    /* Centra horizontalmente el contenido */
    align-items: center;
    /* Centra verticalmente el contenido */
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    /* Ajusta la posición vertical */
    z-index: 10;
    /* Asegúrate de que este valor sea mayor que cualquier otro z-index en elementos hermanos */
    /* Altura fija para el contenedor del span */
    /* Color de fondo */
    height: 5rem;
    background-color: var(--rosadoQueDiosaAl80);
}

.div-encima span {
    width: 100%;
    font-size: 1.6rem;
    color: white;
    padding: 0.5em;
    box-sizing: border-box;
    text-align: center;

}

.saleAndNew {
    padding: 1rem;
    height: 18rem;

    @media (max-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
    }

    @media (min-width: 992px) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

}

.saleAndNewDivs {
    background-color: var(--negroQueDiosa);
    color: var(--rosadoQueDiosaAl80);
    height: 8rem;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-shadow: rgb(0, 0, 0) 1px 0 5px;

    @media (max-width: 768px) {
        min-width: 100%;

    }

    @media (min-width: 992px) {
        width: 100%;
    }
}


/*Region Grid*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

.grid-item {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    /* Bordes redondeados */
}

/* Colores distintos para cada ítem */
.vestidos {
    background-color: #ff9999;
}

/* Color rosa */
.tops {
    background-color: #99ccff;
}

/* Color azul claro */
.pantalones {
    background-color: #ffcc99;
}

/* Color melocotón */
.shorts {
    background-color: #99ff99;
}

/* Color verde claro */

/* Cambio de layout para pantallas más pequeñas */
@media (max-width: 991px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

/*Region Grid*/




/* REGION NEW*/
.SectionNEW {
    background-color: var(--negroQueDiosa);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.SectionNEW div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* REGION NEW*/