/* @media screen and (max-width: 768px) { */

.containerUnProducto {
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containerListaResult {
    height: 500px;

}

.backGroundRosaQD {
    background-color: var(--rosadoQueDiosaAl80);
    border-radius: 5px;
}

.tamImgCard {
    height: 18rem;
    width: 100%;
    border-radius: 5px;
}


.contenedorPrecios p {
    margin: 0px;

}

.divsContenedoresDuos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.marginAlineadorTexto {
    margin-top: 0.7rem
}

.AcctionAceptar {
    height: 1rem;
    padding: 8px 0 8px 0;
    /*  border: 2px solid rgb(34, 167, 34); */
    border-radius: 18px;
    color: rgb(255, 255, 255);
    background-color: rgb(111, 111, 233);
    font-size: 1rem;
    border: 1px solid grey;


}

.AcctionAceptar:active {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    /* Sombra más pequeña para efecto de estar presionado */
    transform: translateY(4px);
    border: 1px solid grey;
    /* Mueve aún más hacia abajo para simular que se está presionando */
}



/* } */