<div mat-dialog class="containerUnProducto">
    <div style="min-width: 100%;" class="text-center">
        <h1 style="background-color: var(--rosadoQueDiosaAl80);">Buscar productos</h1>
    </div>
    <div style="display: flex; justify-content: center; align-items: center; position: sticky; margin-bottom: 0.5rem;">
        <div style="position: relative; display: flex; align-items: center;">
            <input type="text" class="BasicInput" [(ngModel)]="txtBuscar" placeholder="Buscar producto"
                style="padding-right: 2.2rem;">
            <button *ngIf="txtBuscar" class="clear-button" aria-label="Clear" (click)="vaciarTxtYBorrarBusqueda()"
                style="top: 10px;">
                <span class="material-icons BasicBtnCruz">close</span>
            </button>
        </div>
        <div style="background-color: var(--rosadoQueDiosaAl80); border-radius: 50%; " (click)="filtrar()"
            class=" botonCircularSimple">
            <span class="material-symbols-outlined">
                search
            </span>
        </div>
    </div>
    <div mat-dialog-content style="padding: 0 1rem 0 1rem">

        <div style="margin-top: 0.5rem;">
            <div *ngFor="let producto of productosFiltrados" style=" padding-top: 0.3rem; ">
                <div style="background-color: var(--negroQueDiosa); border-radius: 5px;">
                    <div style="display: flex;  align-items: center;">
                        <div style=" width: 6rem; height: 7rem; border-radius: 5px;">
                            <img style="width: 6rem; height: 7rem; object-fit: cover;  border-top-left-radius: 5px;  border-bottom-left-radius: 5px;"
                                [src]="cargaSrc(producto)" alt="">
                        </div>
                        <div style=" 
                            width: 100%; 
                            width: 100%;
                            height: 7rem;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;">
                            <div style="padding: 0.3rem;">
                                <div style="height: 85px;">
                                    <div>
                                        <div style="color: white; font-size: 16px;">{{producto.nombre}}</div>
                                    </div>
                                    <div class="contenedorPrecios">
                                        <p style="font-size: 14px;  text-decoration-line: line-through; color: grey;"
                                            *ngIf="producto?.precioAnterior! > 0">
                                            Antes: ${{producto?.precioActual}}</p>

                                        <div style="padding-bottom: 0.1rem; display: flex;">
                                            <div>
                                                <p style="color: white; font-size: 16px;"
                                                    *ngIf="producto?.precioAnterior! > 0">
                                                    Ahora: ${{producto?.precioAnterior}}</p>
                                                <p style="color: white; font-size: 16px;"
                                                    *ngIf="producto?.precioAnterior! <= 0">
                                                    Precio: ${{producto?.precioActual}}</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div style="display: flex; justify-content: center; align-items: center;">
                                    <button mat-button class="AcctionAceptar" style="color: white;"
                                        (click)="openUnProducto(producto)">Ver</button>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
            <div *ngIf="productosFiltrados.length <= 0" class="text-center" style="margin-top: 2rem;">Nada para mostrar
            </div>
        </div>

    </div>
    <mat-dialog-actions style="display: flex; justify-content: center; gap: 2rem; margin: auto;" class="text-center">
        <button mat-button class="" [mat-dialog-close]="" style="width: auto;">Atras</button>
    </mat-dialog-actions>