<div
    style="width: 100%;  height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; line-height: 1; background-color: var(--negroQueDiosa); color: white;">
    <span class=" text-center">Lamentamos informarle que su proceso de pago no ha sido completado debido a un problema.
        Por favor, intente nuevamente o para recibir asistencia, póngase en contacto con la empresa al siguiente número
        5555555.
    </span>
    <button mat-button class="btnFinalizarCompra" (click)="navegarAHome()">Volver a inicio</button>
</div>