<div class="divDelForm">
    <mat-radio-group [(ngModel)]="tipoEnvio" (ngModelChange)="ngOnChanges()">
        <mat-radio-button value="retira">Retira en el local</mat-radio-button>
        <mat-radio-button value="paraEnviar">Para enviar</mat-radio-button>
    </mat-radio-group>
    <form [formGroup]="personaForm">
        <!-- Campo Nombre -->
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" formControlName="nombre">
        </div>

        <!-- Campo Apellido -->
        <div>
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" formControlName="apellido">
        </div>

        <!-- Campos que dependen del tipo de envío -->
        <div *ngIf="tipoEnvio === 'paraEnviar'">
            <!-- Campos adicionales para 'Para enviar' -->
            <div>
                <label for="departamento">Departamento:</label>
                <input type="text" id="departamento" formControlName="departamento">
            </div>
            <div>
                <label for="ciudad">Ciudad:</label>
                <input type="text" id="ciudad" formControlName="ciudad">
            </div>
            <div>
                <label for="barrio">Barrio:</label>
                <input type="text" id="barrio" formControlName="barrio">
            </div>
            <div>
                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion" formControlName="direccion">
            </div>
        </div>
        <!-- Campos Mail y Teléfono -->
        <div>
            <label for="mail">Mail:</label>
            <input type="email" id="mail" formControlName="mail">
        </div>
        <div>
            <label for="telefono">Teléfono:</label>
            <input type="tel" id="telefono" formControlName="telefono">
        </div>
    </form>
    <div *ngIf="preferenceId == ''">
        <button [disabled]="!personaForm.valid" (click)="processPayment()">Proceder con el pago</button>
    </div>
</div>
<div *ngIf="preferenceId != ''" class="payment-container">
    <div id="payment-container" style="max-width: 10rem;">
    </div>
</div>