<nav class="navbar navbar-expand-lg justify-content-between align-items-center"
    style="background-color: var(--negroQueDiosa);  cursor: pointer   ">
    <span class="material-symbols-outlined col-1" style="color: var(--rosadoQueDiosa); font-size: 2rem; padding: 0; "
        *ngIf="mostrarIcono" (click)="accion()">
        {{icono}}
    </span>
    <span *ngIf="mostrarIcono == false"></span>
    <div>
        <span>
            <img src="../../../assets/imgs/logoSinTexto.png" alt="logo" width="41" height="38">
        </span>
        <a href="" class="fuenteLetra posicionTxtQueDiosa"
            style="color: var(--rosadoQueDiosa); margin-left: 0.5rem;">Que Diosa</a>
    </div>
    <div>
        <span class=" material-symbols-outlined" *ngIf="mostrarBuscador"
            style="color: var(--rosadoQueDiosa); margin-right: 1rem; cursor: pointer" (click)="openBuscadorProductos()">
            search
        </span>
        <span class="material-symbols-outlined" *ngIf="mostrarCarrito"
            style="color: var(--rosadoQueDiosa); cursor: pointer" (click)="openCarrito()">
            shopping_cart
        </span>
    </div>
</nav>