/* You can add global styles to this file, and also import other style files */
@import '@angular/cdk/overlay-prebuilt.css';

:root {
    --rosadoQueDiosa: #F67280;
    --negroQueDiosa: #2C2C2C;
    --rosadoQueDiosaAl80: #f6727fe0;
    --negroQueDiosaTransparente: #2c2c2cc7;
}

.letraRosaDiosa {
    color: var(--rosadoQueDiosa);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.custom-dialog {
    background: blue;
}



.fuenteLetra {
    font-family: 'Audiowide';
}

.fuenteLetraRoboto {
    font-family: 'Roboto', sans-serif !important;
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 1.5rem !important;
}

.colorclass {
    background: var(--negroQueDiosaTransparente);
    /* background-color: red; */
}

.sombra {
    -webkit-box-shadow: 7px 7px 14px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 14px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 7px 14px -7px rgba(0, 0, 0, 0.75);
}


.altoInputs {

    height: 3.5rem;
    background-color: red;
}




.cenntradoBasico {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnAddCircular {
    width: 60px;
    /* Ajusta el ancho del botón */
    height: 60px;
    /* Ajusta la altura del botón */
    font-size: 30px;
    /* Ajusta el tamaño del icono 'add' */
    border-radius: 50%;
    /* Hace que el botón sea circular */
    border: none;
    /* Elimina el borde predeterminado */
    background-color: var(--rosadoQueDiosaAl80);
    color: white;
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* Cambia el cursor a un puntero cuando se pasa sobre el botón */
}