/* You can add global styles to this file, and also import other style files */
:root {
    --rosadoQueDiosa: #F67280;
    --negroQueDiosa: #2C2C2C;
    --negroQueDiosaTransparente: #2c2c2cc7;
}

.custom-dialog {
    background: blue;
}

.fuenteLetra {
    font-family: 'Audiowide';
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 1.5rem !important;
}