<div mat-dialog
    style="height: 100%; padding: 10px; border-radius: 15px; display: flex; flex-direction: column; justify-content: space-between;">

    <div class="spanAlerta color" style="background-color:  var(--negroQueDiosa); color: var(--rosadoQueDiosaAl80); ">
        <span style="padding-left:0.5rem; text-align: center;">
            Mi perfil </span>
    </div>
    <div mat-dialog-content>
        <div class="contenidoCard">
            <div>
                <span>Nombre de usuario: </span>
                <p style="font-size: 18px; margin: 0; padding-left: 0.5rem; color: black;"> {{username}} </p>
            </div>
            <div>
                <span>Nombre: </span>
                <p style="font-size: 18px; margin: 0; padding-left: 0.5rem; color: black;"> {{persona.nombre}} </p>
            </div>
            <div>
                <span>Apellido: </span>
                <p style="font-size: 18px; margin: 0; padding-left: 0.5rem; color: black;"> {{persona.apellido}}
                </p>
            </div>
            <div>
                <span>Telefono: </span>
                <p style="font-size: 18px; margin: 0; padding-left: 0.5rem; color: black;"> {{persona.telefono}}
                </p>
            </div>
            <div>
                <span>Mail: </span>
                <p style="font-size: 18px; margin: 0; padding-left: 0.5rem; color: black;"> {{persona.correo}} </p>
            </div>

        </div>
    </div>
    <div style="display: flex; justify-content:  center; align-items: flex-end; gap: 1rem;  height: 0.5rem; ">
        <button mat-button class="AcctionCancelar" (click)="openDialogEditarPass()" style="width: auto;">Cambiar
            contraseña</button>
        <button mat-button class="AcctionCancelar" [mat-dialog-close]="" style="width: auto;">Cerrar</button>
    </div>
</div>